<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
<nav>

{{#if userInSession}}
<a>Hello, {{userInSession.username}}</a>
  <div>
<a href="/change-password">Change Password</a>
</div>
{{/if}}

  <div>
<a href="/userProfile">Profile</a>
</div>

  <div>
  <a href="/threads">Threads</a>
  </div>

  <div>
  <a href="/threads/create"><strong>Start A New Thread</strong></a>
  </div>

{{#if currentUser}}

             <form id="logout-form" action="/logout" method="POST">
            <button class="gamefaq-btn">Logout</button>
           </form> 
{{else}}

  <div>
  <a href="/signup">Sign Up</a>
  </div>

  <div>
  <a href="/login">Log In</a>
  </div>
{{/if}}



  
  






</nav>

    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>