body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ecffff;
  background-color: rgba(21, 21, 21, 0.549);
  margin-top: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 190px 18px;
  width: 90%;
  position: fixed; 
  top: 0;
  align-items: center;
}

a {
  color: #121212;
}

a:hover {
  color: whitesmoke;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.comments {
  height: 200px;
  background-color: rgb(174, 173, 173);
  border:1px solid black;
}

.commentsHeader {
  height: 40px;
  background-color: rgba(94, 200, 236, 0.689);
  color: black;
}

.commentPoster {

  color: black;
  position: relative;
  top: 0.6vw;
}

.commentBox {
  height: 142px;
  width: 450px;
  resize: both; 
}

.gamefaq-btn { 
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 0;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.gamefaq-btn:hover {
  background-color: rgb(249,250,251);
}

.gamefaq-btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.gamefaq-btn:focus-visible {
  box-shadow: none;
}

