<h1>LIST OF THREADS</h1>

{{!-- <h1>USER CHECK {{userInSession}}</h1> --}}





{{!-- CORRECT WAY TO GET THREAD TITLE FORM OUR threads COLLECTION --}}
{{!-- {{threads.[0].title}} --}}

{{!-- Getting each Thread title to be listed --}}
{{!-- will have  the comments array but no need to list them on this page --}}
{{!-- Populate comments array on the thread details page. --}}
{{#each threads}}
<div>

{{title}}
 <a href="/threads/{{_id}}">View Thread</a>


</div>



{{/each}}







 